{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}



{% block subheader %}
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="m-subheader__title m-subheader__title--separator">
                    应用管理
                </h3>
                <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                    <li class="m-nav__item m-nav__item--home">
                        <a href="#" class="m-nav__link m-nav__link--icon">
                            <i class="m-nav__link-icon la la-home"></i>
                        </a>
                    </li>
                    <li class="m-nav__separator">
                        -
                    </li>
                    <li class="m-nav__item">
                        <a href="" class="m-nav__link">
											<span class="m-nav__link-text">
												应用管理
											</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}


{% block pagecontent %}
    <div class="m-portlet m-portlet--success m-portlet--head-solid-bg">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Strategy Groups
                    </h3>
                </div>
            </div>
            <div class="m-portlet__head-tools">
                <ul class="m-portlet__nav">
                    <li class="m-portlet__nav-item">
                        <div class="btn btn-toolbar m-btn m-btn--icon" id="new_namespace">
																<span>
																	<i class="la la-plus"></i>
																	<span>
																		Strategy Groups
																	</span>
																</span>
                        </div>
                    </li>

                    <!--<li class="m-portlet__nav-item">
                        <a id="newOne" class="m-portlet__nav-link m-portlet__nav-link--icon">
                            <i class="fa fa-envelope-o"></i>
                        </a>
                    </li>-->
                </ul>
            </div>
        </div>
        <div class="m-portlet__body">
            <table id="table_namespaces" class="display nowrap" style="width:100%">
                <thead>
                <tr>
                    <th>Strategy Group</th>
                    <th>Owner</th>
                    <th>Related strategies</th>
                    <th>action</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>Strategy Group</th>
                    <th>Owner</th>
                    <th>Related strategies</th>
                    <th>action</th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <div class="modal fade" id="modal_new_namespace" tabindex="-1" role="dialog" aria-labelledby=""
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="">
                        New Namespace
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="la la-remove"></span>
                    </button>
                </div>
                <form class="m-form m-form--fit m-form--label-align-right" id="m_form_namespace"
                      data-select2-id="82">
                    <div class="modal-body">
                        <div class="m-form__content">
                            <div class="m-alert m-alert--icon alert alert-danger m--hide" role="alert"
                                 id="modal_new_namespace_msg">
                                <div class="m-alert__icon">
                                    <i class="la la-warning"></i>
                                </div>
                                <div class="m-alert__text">
                                    填写信息有误，请检查重填后再次提交！
                                </div>
                                <div class="m-alert__close">
                                    <button type="button" class="close" data-close="alert" aria-label="Close"></button>
                                </div>
                            </div>
                        </div>

                        <div class="form-group m-form__group row m--margin-top-5">
                            <label class="col-form-label col-lg-3 col-sm-12">
                                Namespace *
                            </label>
                            <div class="col-lg-6 col-md-9 col-sm-12">
                                <input type="hidden" id="tmp_namespace_id">
                                <input type="text" class="form-control" id="new_namespace_name"
                                       name="new_namespace_name"
                                       placeholder="namespace's name">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3 col-sm-12">
                                Owners
                            </label>
                            <div class="col-lg-6 col-md-9 col-sm-12">
                                <select class="form-control m-select2" id="m_select2_owners" name="param"
                                        multiple="multiple" style="width: 100%">
                                    <option value="0">multi select</option>
                                </select>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                关闭
                            </button>
                            <button type="submit" class="btn btn-primary" id="submit_modal_1">
                                提交
                            </button>
                        </div>

                    </div>
                </form>

            </div>
        </div>
    </div>

    <!-- 模态框（Modal）end -->
{% endblock %}


{% block scripts %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="../static/mycss/datatable/jquery.dataTables.min.css">

    <script type="text/javascript" charset="utf8" src="../static/datatable/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="../static/datatable/dataTables.buttons.min.js"></script>
    <script type="text/javascript" charset="utf8" src="../static/datatable/dataTables.select.min.js"></script>
    <script type="text/javascript" charset="utf8" src="../static/datatable/showdown.min.js"></script>
    <script src="../static/js/moment.min.js"></script>
    <script src="../static/js/daterangepicker.js"></script>
    <script src="../static/metronic/bootstrap-daterangepicker.js" type="text/javascript"></script>

    <script src="../static/metronic-default/assets/demo/default/custom/components/portlets/tools.js"
            type="text/javascript"></script>
    <script src="../static/datatable/mylang.js" type="text/javascript"></script>
    <script src="../static/metronic-default/assets/demo/default/custom/components/forms/widgets/select2.js"
            type="text/javascript"></script>
    <script src="../static/metronic/public_js/get_user_list.js" type="text/javascript"></script>
    <script src="../static/metronic/strategy_group/form-controls-strategy-group.js"
            type="text/javascript"></script>
    <script src="../static/metronic/strategy_group/StrategyGroupForm.js" type="text/javascript"></script>

    <script>
        $("#new_namespace").click(function () {
            //$("div.form-control-feedback").remove();
            $("#new_namespace_name").val("")
            $("#modal_new_namespace_msg").removeClass('m--hide').hide();
            $("#modal_new_namespace").removeData("bs.modal").modal("show");
            let select_id = "#m_select2_owners"
            get_user_list(select_id)
        });

        function EditNamespace(sc_id, action) {
            let params = {"namespace_id": sc_id, "action": action};
            var owern_id;
            console.log(params)
            $.ajax({
                type: "POST",          //提交方式          
                url: "load_namespace",  //提交的页面/方法名          
                data: JSON.stringify(params, null, '\t'),          //参数（如果没有参数：null）          
                contentType: "application/json; charset=utf-8",
                async: false,
                success: function (msg) {
                    console.log(msg)
                    mApp.unblock('#modal_new_namespace .modal-content');
                    owern_id = msg.content.records[0].owner_id
                    $("#tmp_namespace_id").val(sc_id)
                    $("#new_namespace_name").val(msg.content.records[0].name)
                    $("#modal_new_namespace_msg").removeClass('m--hide').hide();
                    $("#modal_new_namespace").removeData("bs.modal").modal("show");
                },
                error: function (xhr, msg, e) {
                    toastr.warning("删除");
                }
            });
            let select_id = "#m_select2_owners"
            get_user_list(select_id,owern_id)
        }


        // toastr options
        toastr.options = {
            "closeButton": true, //是否显示关闭按钮
            "debug": false, //是否使用debug模式
            "progressBar": false,
            "positionClass": "toast-top-center",//弹出窗的位置
            "showDuration": "2000",//显示的动画时间
            "hideDuration": "1000",//消失的动画时间
            "timeOut": "2000", //展现时间
            "extendedTimeOut": "1000",//加长展示时间
            "showEasing": "swing",//显示时的动画缓冲方式
            "hideEasing": "linear",//消失时的动画缓冲方式
            "showMethod": "fadeIn",//显示时的动画方式
            "hideMethod": "fadeOut" //消失时的动画方式
        };
    </script>
{% endblock %}