{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}



{% block subheader %}
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="m-subheader__title m-subheader__title--separator">
                    内外网管理
                </h3>
                <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                    <li class="m-nav__item m-nav__item--home">
                        <a href="#" class="m-nav__link m-nav__link--icon">
                            <i class="m-nav__link-icon la la-home"></i>
                        </a>
                    </li>
                    <li class="m-nav__separator">
                        -
                    </li>
                    <li class="m-nav__item">
                        <a href="" class="m-nav__link">
											<span class="m-nav__link-text">
												文件传输管理
											</span>
                        </a>
                    </li>
                    <li class="m-nav__separator">
                        -
                    </li>
                    <li class="m-nav__item">
                        <a href="" class="m-nav__link">
											<span class="m-nav__link-text">
												已审核的申请
											</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}


{% block pagecontent %}
    <div class="m-portlet m-portlet--success m-portlet--head-solid-bg">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        已审核订单
                        <small>
                            已审核订单
                        </small>
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <div class="form-group m-form__group row">
                <label class="col-lg-1 col-form-label">
                    搜索范围：
                </label>
                <div class="col-lg-2">
                    <select class="form-control m-bootstrap-select m_selectpicker" multiple="" data-actions-box="true"
                            tabindex="-98" id="search_field">
                        {% for op in search_fields %}
                            <option value={{ op[1] }}>{{ op[0] }}</option>
                        {% endfor %}
                    </select>
                    <span></span>
                </div>
                <div class="col-lg-3">
                    <input class="form-control m-input" type="text" placeholder="搜索内容" id="search_content">
                    <span></span>
                </div>
                <div class="col-lg-1">
                    <select class="form-control m-bootstrap-select m_selectpicker"
                            title="选择日期范围" id="select_date_field"
                            tabindex="-98" id="search_field_date">
                        <option value="apply_at">申请日期</option>
                        <option value="confirm_at">审核日期</option>
                    </select>
                    <span></span>
                </div>
                <div class="input-group col-lg-3 col-md-9 col-sm-12" id="search_m_daterange">
                    <input type="text" class="form-control m-input" readonly="" name="search_daterange" id="search_daterange"
                           placeholder="选择时间范围">
                    <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="la la-calendar-check-o"></i>
                                    </span>
                    </div>
                </div>
                <div class="col-lg-2">
                    <button type="button" class="btn btn-danger" id="clear_all_data">
                                清空
                            </button>
                    <button type="submit" class="btn btn-brand" id="search_submit">
                        搜索
                    </button>
                    <span></span>
                </div>
            </div>
            <table id="transfer_confirmed_orders_id" class="display nowrap" style="width:100%">
                <thead>
                <tr>
                    <th>订单号</th>
                    <th>文件名称</th>
                    <th>申请人</th>
                    <th>申请理由</th>
                    <th>申请类型</th>
                    <th>申请时间</th>
                    <th>共享</th>
                    <th>审核结果</th>
                    <th>审核人</th>
                    <th>审核时间</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>订单号</th>
                    <th>文件名称</th>
                    <th>申请人</th>
                    <th>申请理由</th>
                    <th>申请类型</th>
                    <th>申请时间</th>
                    <th>共享</th>
                    <th>审核结果</th>
                    <th>审核人</th>
                    <th>审核时间</th>
                </tr>
                </tfoot>
            </table>
        </div>

    </div>

    <!-- 模态框（Modal）end -->
{% endblock %}


{% block scripts %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="../static/mycss/datatable/jquery.dataTables.min.css">

    <script type="text/javascript" charset="utf8" src="../static/datatable/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="../static/datatable/dataTables.buttons.min.js"></script>
    <script type="text/javascript" charset="utf8" src="../static/datatable/dataTables.select.min.js"></script>
    <script type="text/javascript" charset="utf8" src="../static/datatable/showdown.min.js"></script>
    <script src="../static/js/moment.min.js"></script>
    <script src="../static/js/daterangepicker.js"></script>
    <script src="../static/metronic/bootstrap-daterangepicker.js" type="text/javascript"></script>
    <script src="../static/metronic-default/assets/demo/default/custom/components/forms/widgets/bootstrap-select.js"
            type="text/javascript"></script>

    <script src="../static/metronic-default/assets/demo/default/custom/components/portlets/tools.js"
            type="text/javascript"></script>
    <script src="../static/datatable/mylang.js" type="text/javascript"></script>
    <script src="../static/metronic/transfer_files/transfer_confirmed_orders.js" type="text/javascript"></script>
{% endblock %}